JWT_SECRET_KEY=key
JWT_EXPIRES_IN=24h
PORT=8080
VIDEO_UPLOAD_LIMIT=50mb
VIDEO_UPLOAD_PARSER_LIMIT=100mb
AWS_REGION=us-east-1
DYNAMODB_USERS_TABLE=Users
DYNAMODB_USERS_EMAIL_INDEX=EmailIndex
VIDEOS_BUCKET=video-processing-pipeline-videos